extends layout 

block content 
  h1 Fragrance: #{fragrance.name}

  p #[strong Brand:] 
    a(href=fragrance.brand.url)= fragrance.brand.name

  p #[strong Price:] £#{fragrance.price}

  p #[strong Number in stock:] #{fragrance.number_in_stock}

  p #[strong Description:] #{fragrance.description}

  p  
    a(href=fragrance.url + '/delete') Delete fragrance